<div class="sidebar w-1/4 mr-10 h-100">

    <div class="space-y-4">
        <div  class="perfil-style cursor-pointer bg-white rounded-full p-4 flex items-center justify-center space-x-2">
            <span class="text-xl font-bold">Perfil</span>
            <i class="fas fa-user text-2xl"></i>
        </div>
        <div routerLink="/mesa-partes-step1" routerLinkActive="active" class="bg-white cursor-pointer rounded-full p-4 flex items-center justify-between space-x-2">
            <span class="text-xl font-bold">Usuarios</span>
            <i class="fas fa-pencil-alt text-2xl"></i>
        </div>
        <div routerLink="/mesa-partes-step2" routerLinkActive="active"  class="bg-white cursor-pointer rounded-full p-4 flex items-center justify-between space-x-2">
            <span class="text-xl font-bold">Empleados</span>
            <i class="fas fa-map-marker-alt text-2xl"></i>
        </div>
        <div routerLink="/registro-reclamo-step3" routerLinkActive="active" class="bg-white rounded-full p-4 flex items-center cursor-pointer justify-between space-x-2">
            <span class="text-xl font-bold">Area de Municipalidad</span>
            <i class="fas fa-comment-alt text-2xl"></i>
        </div>
        <div routerLink="/seccion-usuarios" routerLinkActive="active" class="bg-white rounded-full p-4 flex items-center cursor-pointer justify-between space-x-2">
            <span class="text-xl font-bold">Historial de Documentos</span>
            <i class="fas fa-cogs text-2xl"></i>
        </div>
    </div>

</div>